.main-container{
    background-color: rgb(107, 88, 88);
    width: 650px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selection-cont{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

 p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: wheat;
}

.currency-title{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(83, 56, 5);
}

.header-currency td{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 700;
    color: rgb(163, 157, 41)
}

input{
    font-size: 17px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    height: 30px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

select{
    font-size: 17px;
    padding: 5px;
    border-radius: 10px;
    border:none;
    height: 30px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

option{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color:rgb(225,214,4)
}

button{
    background-color: rgb(53, 53, 53);
    border: 2px solid white;
    border-radius: 5px;
    color: wheat;
    font-size: 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

button:hover{
    background-color: wheat ;
    color:rgb(90, 90, 26)
}